name: Testing

on:
  pull_request:
  push:
    branches:
    - "main"
    - "release-*"
    - "v*"

jobs:
  integration-tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install Protoc
        uses: arduino/setup-protoc@v3
      - name: "Clippy format"
        run: cargo clippy
      - name: "Run unit tests"
        run: cargo test --lib
      - name: install grpcurl
        run: |
          go install github.com/fullstorydev/grpcurl/cmd/grpcurl@latest
      - uses: actions/setup-dotnet@v5
        with:
          dotnet-version: '9.0.x'
      - name: install ilspycmd
        run: |
          dotnet tool install --global ilspycmd
      - name: install paket
        run: |
          dotnet tool install --global paket
          ls -la $HOME/.dotnet/tools/
      - name: run demo test
        run : |
          export PATH=${PATH}:`go env GOPATH`/bin
          make run-demo-github
  run-analyzer-integration:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set image tag
        id: set-tag
        run: |
          echo "image_tag=${{ github.sha }}-${{ github.run_id }}" >> $GITHUB_OUTPUT

      - name: Build c-sharp-provider-image
        uses: shawn-hurley/ci/build-image@main
        with:
          repo: ${{ github.repository }}
          checked_out: true
          image_name: quay.io/konveyor/c-sharp-provider
          image_tag: ${{ steps.set-tag.outputs.image_tag }}
          dockerfile_path: Dockerfile
          build_context: .
          cache-key-file: Cargo.lock

      ## TODO: Once I have the artifact download working, this should run the analyzer-lsp from last working nightly based on branch.

      - name: Run Provider test
        shell: bash
        run: |
          podman volume create test-data
          podman run --rm -v test-data:/target:z -v $(pwd)/testdata:/src/:z --entrypoint=cp alpine -a /src/. /target/
          podman pod create --name=analyzer-c-sharp
          podman run --pod analyzer-c-sharp --name c-sharp -d -v test-data:/analyzer-lsp/examples:z quay.io/konveyor/c-sharp-provider:${{ steps.set-tag.outputs.image_tag }} --port 14652
          podman run --entrypoint /usr/local/bin/konveyor-analyzer --pod=analyzer-c-sharp \
            -v test-data:/analyzer-lsp/examples:z \
            -v $(pwd)/e2e-tests/demo-output.yaml:/analyzer-lsp/output.yaml:z \
            -v $(pwd)/e2e-tests/provider_settings.json:/analyzer-lsp/provider_settings.json:z \
            -v $(pwd)/rulesets/:/analyzer-lsp/rules:z \
            quay.io/konveyor/analyzer-lsp \
            --output-file=/analyzer-lsp/output.yaml \
            --rules=/analyzer-lsp/rules \
            --provider-settings=/analyzer-lsp/provider_settings.json
      - name: Verify output
        shell: bash
        run: |
          git diff --exit-code HEAD -- $(pwd)/e2e-tests/demo-output.yaml

